{% extends 'base.html.twig' %}

{% block title %}{% trans %}store.create.page-title{% endtrans %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/store/create.css') }}">
{% endblock %}

{% block main %}
<div class="title">
    <div class="line"></div>
    <h1>{% trans %}store.title{% endtrans %}</h1>
</div>

<!-- SECONDARY NAV -->
<nav class="stepper" role="navigation" aria-label="Menu secondaire">
    <button class="dates" type="button">
        <div class="step"><span>1</span></div>
        <p class="current">{% trans %}store.nav.dates{% endtrans %}</p>
    </button>

    <button class="tickets" type="button">
        <div class="step">2</div>
        <p>{% trans %}store.nav.tickets{% endtrans %}</p>
    </button>

    <button class="recap" type="button">
        <div class="step">3</div>
        <p>{% trans %}store.nav.pay{% endtrans %}</p>
    </button>
</nav>

<div class="form-recap">
    <section class="create">

        {{ form_start(form) }}
            <section class="date-hours active" id="date-horaire">
                <h2>{% trans %}store.form.dates{% endtrans %} <span class="alternative-font">{% trans %}store.form.hours{% endtrans %}</span></h2>
                <fieldset class="date">
                    <legend><h3>{% trans %}store.form.choose-date{% endtrans %}</h3></legend>
                    <p class="error">{% trans %}store.form.error{% endtrans %}</p>
                    <div class="arrows">
                        <button type="button" class="left">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM18 7L1 7V9L18 9V7Z"
                                    class="left" />
                            </svg>
                        </button>
                        <button type="button" class="right">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM18 7L1 7V9L18 9V7Z"
                                    class="right" />
                            </svg>
                        </button>
                    </div>
                    <div id="calendar" aria-disabled="true"></div>
                </fieldset>
                <fieldset class="hours">
                    <legend><h3>{% trans %}store.form.choose-hour{% endtrans %}</h3></legend>
                    {{ form_row(form.hours) }}
                </fieldset>
                <button class="btn btn-next" type="button" data-action="categories">{% trans %}store.form.button-validate{% endtrans %}</button>
            </section>

            <section class="categories" id="categories">
                <h2>{% trans %}store.form.number{% endtrans %} <span class="alternative-font">{% trans %}store.form.tickets{% endtrans %}</span></h2>
                <h3>{% trans %}store.form.max-ticket{% endtrans %}</h3>
                <div class="container">
                    {% for category in categories %}
                        <fieldset data-category="{{ category.id }}">
                            <div class="price">
                                <legend>
                                    <p>{{ ('store.categories.' ~ category.name)|trans }}</p>
                                </legend>
                                <p>{{ category.price ~ '€' }}</p>
                                <div class="controls">
                                    <button type="button" data-action="remove" class="remove">-</button>
                                    <input type="number" id="{{ 'counter_' ~ category.id }}" value="0" readonly>
                                    <button type="button" data-action="add" class="add">+</button>
                                </div>
                            </div>
                            <span data-price="{{ category.price }}"></span>
                            <span data-name="{{ ('store.categories.' ~ category.name)|trans }}"></span>
                            <div class="tickets"></div>
                        </fieldset>
                    {% endfor %}
                    <input type="submit" class="btn btn-next" value="{% trans %}store.form.btn-payment{% endtrans %}">
                </div>
            </section>

            <section class="sumarry" id="resume"></section>
            <span data-ticket-per-reservation="{{ exhibition.ticketPerReservation }}"></span>
        {{ form_end(form) }}

    </section>

    <div class="recap">
        <div class="ticket">
            <h2><span class="alternative-font">Camille Claudel</span></h2>
            <div class="details">
                <div class="date">
                    <h3 id="recap__date"></h3> <!-- LA DATE CHOISI PRECEDEMMENT -->
                    <h3 id="recap__hour"></h3> <!-- L'HORRAIRE CHOISIE PRECEDEMMENT  -->
                </div>
                <div class="expo">
                    <p>{% trans %}store.recap.title-vr{% endtrans %}</p>
                    <p class="title">{% trans %}store.recap.title-expo{% endtrans %}</p>
                </div>
            </div>

            <div class="nb-people">
                <table>
                    <caption class="sr-only">{% trans %}store.recap.sr-only.title{% endtrans %}
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" class="sr-only">{% trans %}store.recap.sr-only.category{% endtrans %}</th>
                            <th scope="col" class="sr-only">{% trans %}store.recap.sr-only.price{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody id="recap__bill">
                        {# <tr>
                            <th scope="row">-18 ans : </th>
                            <td>x1</td>
                        </tr>
                        <!-- <tr>
                                <th scope="row">Tarif réduit : </th>
                                <td>6€</td>
                            </tr> -->
                        <tr>
                            <th scope="row">Plein tarif : </th>
                            <td>x3</td>
                        </tr> #}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">{% trans %}store.recap.total{% endtrans %}</th>
                            <td id="recap__bill_total"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="sell-conditions">
            <p>{% trans %}store.sell-conditions.fields-required{% endtrans %}</p><br>
            <p>{% trans %}store.sell-conditions.conditions{% endtrans %} <span>contact@promethee.agency</span></p>
        </div>
    </div>
</div>

{# <section class="create">
    <h2>Achat billet</h2>

    {{ form_start(form) }}
        <section class="date-hours" id="date-horaire">
            <h3>Date et horaire</h3>
            <fieldset class="date">
                <legend><h3>Date</h3></legend>
                <div id="calendar" aria-disabled="true"></div>
            </fieldset>
            <fieldset class="hours">
                <legend><h3>Heure</h3></legend>
                {{ form_row(form.hours) }}
            </fieldset>
        </section>

        <section class="categories" id="categories">
            <h3>Catégorie</h3>
        {% for category in categories %}
            <fieldset data-category="{{ category.id }}">
                <legend>
                    <h4>{{ ('store.categories.' ~ category.name)|trans }}</h4>
                </legend>
                <p>{{ category.price ~ '€' }}</p>
                <div class="controls">
                    <button type="button" data-action="remove" class="remove">-</button>
                    <input type="number" id="{{ 'counter_' ~ category.id }}" value="0" readonly>
                    <button type="button" data-action="add" class="add">+</button>
                </div>
                <div class="tickets"></div>
            </fieldset>
        {% endfor %}
        </section>

        <section class="sumarry" id="resume"></section>
        <span data-ticket-per-reservation="{{ exhibition.ticketPerReservation }}"></span>
    {{ form_end(form) }}

</section> #}
{% endblock %}

{% block scripts %}
<script src="{{ asset('scripts/store/create/form.js') }}"></script>
<script src="{{ asset('scripts/store/create/calendar.js') }}"></script>
<script src="{{ asset('scripts/store/calendar.js') }}"></script>
<script src="{{ asset('scripts/store/reservation_steps.js') }}"></script>
{% endblock %}